body {
    background-color: black;
    color: white;
    text-align: center;
    position: relative; 
}
area:hover {
    cursor: url('pics/cursor.png'), auto;
  }
  
  
h1#camera-text {
    color: white;
    font-family: 'PixelifySans', sans-serif; 
    transform: translate(-10px,-10px);
    position: relative;
    z-index: 1; 
}
.camera-image {
    width: 500px; 
    height: auto;
    transform: translate(-10px, -180px);
    position: relative;
   
}


.a{
    text-decoration: none;
    
}

h1{
    color: white;
    text-decoration: none;
    font-family: 'PixelifySans',sans-serif;
}
h1:hover {
    color: green; /* Change the color to green on hover */
}

@font-face {
    font-family: 'PixelifySans';
    src: url('font/PixelifySans-VariableFont_wght.ttf') format('truetype');
}

.info-title {
    position: absolute;
    top: 580px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; 
    font-family: 'StretchPro', sans-serif;
}

@font-face {
    font-family: 'StretchPro';
    src: url(font/StretchPro.otf);
}

/* Flexbox container for the boat */
.boat-container {
    display: flex;
    justify-content: center;
    margin-top: 40px; /* Adjust as needed */
}

/* Boat styles */
.boat {
    width: 500px;
}

.boat__content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.boat:hover .boat__content {
    transform: rotateY(180deg);
}

.boat__front,
.boat__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
    background-size: cover;
    background-blend-mode: overlay;
    font-family: 'Mogent', sans-serif; 
}



.boat__title {
    font-size: 3.5rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
}



.boat__body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.5rem;
    line-height: 1.6;
}

.boat__back {
    transform: rotateY(.5turn);
    color: var(--clr);
    background: #333;
}


.chair-container {
    display: flex;
    justify-content: center;
    margin-top: 40px; 
}


.chair {
    width: 500px;
}

.chair__content {
    text-align: center;
    position: relative;
    padding: 15em 5em;
    transition: transform 3s;
    transform-style: preserve-3d;
}

.chair:hover .chair__content {
    transform: rotateY(180deg);
}

.chair__front,
.chair__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5em 3em;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    display: grid;
    align-content: center;
    background-size: cover;
    background-blend-mode: overlay;
    font-family: 'Mogent', sans-serif; 
}

@font-face {
    font-family: 'Mogent';
    src: url(font/Mogent.otf);
}

.chair__title {
    font-size: 3.5rem;
    transform: var(--level-three);
    order: 2;
    text-transform: uppercase;
}

/* Add styles for chair__subtitle if needed */

.chair__body {
    transform: var(--level-two);
    font-weight: var(fw-normal);
    font-size: 1.5rem;
    line-height: 1.2;
}

.chair__back {
    transform: rotateY(.5turn);
    color: var(--clr);
    background: #333;
}

