body {
  color: black;
  background-color: black; /* Change background color to black */
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative; /* Add this line */
}

h1 {
  font-family: 'Shadows Into Light Regular', sans-serif; /* Use the specified font */
  color: white;
  text-align: center;
}

li.fade-in {
  color: white;
  font-size: 12pt;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 200px; /* Adjust margin as needed */
}
